.tooltip {
  font-family: simsun;
  font-size: 16px;
  color: white;
  height: auto;
  position: absolute;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(8, 8, 8, 0.6);
  border-radius: 5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*将x轴的坐标的横线隐藏*/
.x.axis path {
  display: none;
}
